body, html{
  padding: 0;
  margin: 0;
}

container{
  background-color: lightgray;
  display: flex;
  flex-flow: row wrap;
}

nav{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: green;
}

.D1, .D2, .D3, .D4{
  width: 100%;
  height: 50px;
  border: 1px solid white;
}

section{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.D5{
  width: 100%;
  height: 300px;
  background-color: yellow;
}

article{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.D6, .D7{
  width: 100%;
  height: 200px;
  border: 1px solid red;
}

.D6{
  background-image: url("images/cutie.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
